extends layout

block content
  .section
    h2 Latest
    if recents && recents.length
      .defilement-slider
        button.left-button(type="button") ◀
        .defilement-track
          each jeu in recents
            .defilement-card
              a(href=`/jeu/${jeu.IDJeu}`)
                img(src=jeu.Image, alt=jeu.NomJeu)
                p= jeu.NomJeu
        button.right-button(type="button") ▶
    else
      p Aucune nouveauté pour le moment.

  .container
    aside.sidebar
      .filter-group
        button.red-btn.filter-toggle(type="button" data-target="filter-category") Category ▾
        .filter-options#filter-category
          if genres.length
            each genre in genres
              label
                input(type="checkbox" name="genres" value=genre.IDGenre)
                | #{genre.NomGenre}
          else
            p Aucun genre trouvé.

      .filter-group
        button.yellow-btn.filter-toggle(type="button" data-target="filter-age") Minimum Age ▾
        .filter-options#filter-age
          if ages.length
            each age in ages
              label
                input(type="checkbox" name="ages" value=age.IDAge)
                | À partir de #{age.AgeMin} ans
          else
            p Aucune tranche d'âge trouvée.

      .filter-group
        button.blue-btn.filter-toggle(type="button" data-target="filter-players") Number of Players ▾
        .filter-options#filter-players
          label
            | Min:
            input(type="number" name="minPlayers" min="1")
          label
            | Max:
            input(type="number" name="maxPlayers" min="1")




    main.main
      .search-bar
        input#search-key(type="text" placeholder="Enter keywords…" autocomplete="off")
        button#search-btn(type="button") Rechercher

      p#no-results Sélectionnez un filtre ou tapez un mot-clé pour afficher les jeux.

      .results-grid#results-grid
